@for (task of tasks$ | async; track $index) {
<ion-card>
  <ion-card-header>
    <ion-card-title>{{ task.title }}</ion-card-title>
    <ion-card-subtitle>{{ task.dueDate | date }}</ion-card-subtitle>
    @if (task.categoryId) {
      <ion-item>
         <ion-icon aria-hidden="true" name="ellipse" slot="start"></ion-icon>
        <ion-label>{{task.categoryId}}</ion-label>
      </ion-item>
    }
  </ion-card-header>

  <ion-card-content>
    {{ task.title }}
  </ion-card-content>
</ion-card>
}
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>