<ion-list>
  @if ((categories$ | async)?.length === 0) {
  <ion-item>
    <ion-label class="text-center">No hay categorías</ion-label>
  </ion-item>
  }
  @for (category of categories$ | async; track $index) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ category.name }}</ion-card-title>
      <ion-item>
        <ion-icon [color]="priorityColors[category.priority]" size="small" name="ellipse">
        </ion-icon>
        <ion-label>{{ category.name }}</ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <p>Prioridad: {{ category.priority }}</p>
    </ion-card-content>
    <ion-button size="default" fill="clear" color="danger" (click)="showAlert(category.id)">
      <ion-icon slot="start" name="trash-outline"></ion-icon>
      Eliminar
    </ion-button>
  </ion-card>
  }
</ion-list>
<ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="openAddCategory()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>