<ion-app>
  <ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    @for (page of appPages; track page; let i = $index) {
      <ion-menu-toggle auto-hide="false">
        <ion-item [routerLink]="page.url" routerDirection="root" lines="none" detail={false}
        routerLinkActive="selected-item">
          <ion-icon ria-hidden="true" slot="start" [ios]="page.icon + '-outline'" 
          [md]="page.icon + '-sharp'" [color]="page.color"></ion-icon>
          <ion-label>{{page.title}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    }
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Taski: {{titlePage}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>
</div>
</ion-app>